@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1840S 1300E<br />
    Salt Lake City, UT 84105<br />
    <abbr title="Phone">P:</abbr>
    801.550.4415
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:zx0804@westminstercollege.edu">zx0804@westminstercollege.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:zx0804@westminstercollege.edu">zx0804@westminstercollege.edu</a>
</address>